@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

.show-grid {
  padding-bottom: 1.5em;
}

body {
  background: url("https://images.pexels.com/photos/34577/pexels-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  padding: 20px;
  margin-top: 10px;
  height: 800px;
  width: 520px;
  margin-left: -280px;

  box-shadow: 1px 1px 5px grey;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.price-strike {
  text-decoration-line: line-through;
  color: grey;
}

.btn-round {
  background-color: #5cb85c;
  border: none;
}
.btn-round:hover {
  background-color: #5cb85c;
}
